apache-beam
autorootcwd
cassandra-driver
google-cloud-pubsub
google-cloud-storage
google-cloud-aiplatform
plotly
pandas
pytest
pytest-asyncio
PyYaml
pyarrow
pytz
pyspark
rich
streamlit
telethon
umap-learn
